html {
  scroll-behavior: smooth;
}
.navbar {
  border-radius: 0 0 5px 5px;
}
.btn-illustrations {
  background: white;
  color: black;
}
.plant-search {
  width: 75%;
  flex-flow: nowrap;
}
.container {
  margin-top: 0.8em;
}
.card-columns {
  column-count: 1;
}
.card-columns .card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.card-columns .hide-plant {
  display: none;
}
.card img {
  cursor: pointer;
}
.family-name {
  cursor: pointer;
}
.family-name:hover {
  color: green;
  font-weight: 500;
}
.fam-filtered {
  color: green;
  font-size: 1.1em;
  font-weight: 500;
}
.btnScrollTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #c8e6c9; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 10px; /* Rounded corners */
  font-size: 1.4em; /* Increase font size */
  width: 48px;
  height: 48px;
}
#myBtn {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}
